*{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.nav{
    background-color: #1F2937;
    width: 100%;
    height: 250px;
}
.navbar{
    width: 70%;
}
.nav-items{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    color: aliceblue;
}
.nav-links-one{
    text-align: start;
}
.nav-links{
 text-align: end;
 
}
.main{
    height: 200px;
    display: flex;
    align-items: center;
}
.main-content{
    display: inline;
}